<table><tr><td><div id="flash_container_tt53340d63ed780"></div>

	<script type="text/javascript">
	// var flashMap = new SWFObject("http://24timezones.com/timescript/banner12.swf", "main", "135", "90", "7.0.22", "#FFFFFF", true)
	// flashMap.addParam("movie",      "http://24timezones.com/timescript/banner12.swf");
	// flashMap.addParam("quality",    "high");
	// flashMap.addParam("wmode",      "transparent");
	// flashMap.addParam("flashvars",  "color=0000FF&logo=1&dataPath=http://24timezones.com/timescript/cities2_countries/cities.xml");
	// flashMap.write("flash_container_tt53340d63ed780");
</script>

</td></tr><tr><td style="text-align: center; font-weight: bold;font-family:arial;"><a href="http://24timezones.com" target="_blank" title="Current Time" style="text-decoration: none;color: #ff7777;font-size: 13px">Current Time</a></td></tr></table>

